/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 100px;
  color: #333;
}

nav {
  margin: 20px 0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav a.active {
  background-color: #6178fb;
  color: white;
}

.auth-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.auth-container button {
  width: 95%;
  padding: 10px;
  background-color: #2d89ef;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.auth-container button:hover {
  background-color: #1b61c1;
}

.auth-container p {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
}

.auth-container p.switch-mode {
  cursor: pointer;
  color: #2d89ef;
  text-decoration: underline;
} 